<div>
  <h2 id="page-heading" data-cy="ResourceHeading">
    <span jhiTranslate="myappApp.resource.home.title">Resources</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myappApp.resource.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-resource"
        [routerLink]="['/resource/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myappApp.resource.home.createLabel"> Créer un nouveau Resource </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="resources?.length === 0">
    <span jhiTranslate="myappApp.resource.home.notFound">Aucun Resource trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="resources && resources.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="gold">
            <div class="d-flex">
              <span jhiTranslate="myappApp.resource.gold">Gold</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="wood">
            <div class="d-flex">
              <span jhiTranslate="myappApp.resource.wood">Wood</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fer">
            <div class="d-flex">
              <span jhiTranslate="myappApp.resource.fer">Fer</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="client.id">
            <div class="d-flex">
              <span jhiTranslate="myappApp.resource.client">Client</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resource of resources; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/resource', resource.id, 'view']">{{ resource.id }}</a>
          </td>
          <td>{{ resource.gold }}</td>
          <td>{{ resource.wood }}</td>
          <td>{{ resource.fer }}</td>
          <td>
            <div *ngIf="resource.client">
              <a [routerLink]="['/client', resource.client.id, 'view']">{{ resource.client.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/resource', resource.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/resource', resource.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(resource)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
