<div>
  <h2 id="page-heading" data-cy="ResourceDataHeading">
    <span jhiTranslate="myappApp.resourceData.home.title">ResourceData</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myappApp.resourceData.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-resource-data"
        [routerLink]="['/resource-data/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myappApp.resourceData.home.createLabel"> Créer un nouveau Resource Data </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="resourceData?.length === 0">
    <span jhiTranslate="myappApp.resourceData.home.notFound">Aucun Resource Data trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="resourceData && resourceData.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="gold">
            <div class="d-flex">
              <span jhiTranslate="myappApp.resourceData.gold">Gold</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="wood">
            <div class="d-flex">
              <span jhiTranslate="myappApp.resourceData.wood">Wood</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fer">
            <div class="d-flex">
              <span jhiTranslate="myappApp.resourceData.fer">Fer</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="registerUser.id">
            <div class="d-flex">
              <span jhiTranslate="myappApp.resourceData.registerUser">Register User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resourceData of resourceData; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/resource-data', resourceData.id, 'view']">{{ resourceData.id }}</a>
          </td>
          <td>{{ resourceData.gold }}</td>
          <td>{{ resourceData.wood }}</td>
          <td>{{ resourceData.fer }}</td>
          <td>
            {{ resourceData.registerUser?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/resource-data', resourceData.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/resource-data', resourceData.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(resourceData)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
